files:
  "/tmp/ruxitElasticBeanstalk.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ ! -d /opt/ruxit/agent ]
      then
      wget -O /tmp/ruxit-Agent-Linux.sh https://lbh28236.live.ruxit.com/installer/agent/unix/latest/qC1qF9XtNXnLgBsP
      chmod 755 /tmp/ruxit-Agent-Linux.sh
      chown root:root /tmp/ruxit-Agent-Linux.sh
      /tmp/ruxit-Agent-Linux.sh
      fi

commands:
  install_ruxit:
    command: /tmp/ruxitElasticBeanstalk.sh
